.re-text-center {
    text-align: center;
}

.re-text-bold {
    font-weight: 600;
}

.re-display-none {
    display: none;
}

.re-blue {
    color: #0000f2
}

.re-green {
    color:#6eff6e
}

.re-white {
    color:#ffffff
}

.re-pointer {
    cursor: pointer;
}