.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: #d7d7d7a8;
}

.modal-content {
    background-color: white;
    border-radius: 5px;
    padding: 15px 20px 25px 20px;
    max-width: 800px;
    margin: 100px auto;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    line-height: 1.5rem;
    max-height: calc(100vh - 200px);
}

.modal-close-icon {
    position: absolute;
    top: 5px;
    right: 0;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.modal-buttons-wrapper {
    margin: 15px 0 20px 0;
    text-align: right;
}

.modal-paragraph {
    margin: 8px 0;
    padding: 0 4px;
    overflow:hidden;
    font-family: 'Roboto', sans-serif;
}

.modal-crew-image {
    max-width: 100px;
    margin: 0 auto;
}

.modal-h2-spacing {
    margin-bottom: 10px;
}

.modal-glossary-section {
    overflow: hidden;
    margin-bottom: 10px;
}

.modal-bkgrd-lght-grey {
    background-color: #f1f1f1;
}

.modal-img-right {
    float:right;
    margin-left:5px;
}

.modal-img-left {
    float:left;
    margin-right: 10px;

}

.audio-icon {
    position: absolute;
    top: 7px;
    left: 10px;
    width: 30px;
}

.modal-audio-in-text {
    display: inline-block;
    position:relative;
    width: 25px;
    height: 25px;
    margin: 0 17px 0 0;
}