.phases-wrapper {
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: grey;
    padding: 10px 15px;
    transition: transform 150ms ease-in;
    border-bottom: 2px solid #FFFFFF;
    z-index: 55;
}

.phases-direction-text {
    display: inline-block;
    vertical-align: top;
    color: #FFFFFF;
}

.phases-ui {
    float: right;
}

.phases-tooltip-wrapper {
    display: inline-block;
    vertical-align: top;
    line-height: 2rem;
    margin-right: 5px;
}

.phases-help-button {
    position: relative;
    display: inline-block;
    cursor: pointer;
}