.phases-wrapper {
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: grey;
    padding: 10px 15px;
    transition: transform 150ms ease-in;
    border-bottom: 2px solid #FFFFFF
}

.phases-direction-text {
    display: inline-block;
    vertical-align: top;
    color: #FFFFFF;
}

.phases-ui {
    float: right;
}

.phases-tooltip-wrapper {
    display: inline-block;
    vertical-align: top;
    line-height: 2rem;
    margin-right: 5px;
}

.tooltips {
    position: relative;
    display: inline-block;
}

.tooltips span {
    position: absolute;
    width: 400px;
    color: #000000;
    background: #FFFFFF;
    visibility: hidden;
    border-radius: 6px;
    padding: 10px 15px;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    line-height: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

.tooltips:hover span {
    visibility: visible;
    top: 30px;
    margin-left: -30px;
    z-index: 20;
    opacity: 1;
    border: 1px solid #000
}
