@import '_reset.scss';
@import '_base-styles.scss';
@import '_crew-card.scss';
@import '_die.scss';
@import '_mission-card.scss';
@import '_phases-ui.scss';

body {
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Orbitron', sans-serif;
  background-image: url("../images/bkgrnd-tile.png");
}

.section-title {
  color: white;
  font-weight: 600;
  margin: 5px 15px;
  max-width: 1400px;
  margin: 0 auto;
}

.seperator {
  border: 1px solid #f1f1f1;
  margin: 10px 15px;
}

.level-column {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 350px;
  height: 279px;
}

.card-selected {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
  background-color: #1f00b3;
  z-index: 10;
  pointer-events: none;
  color: #fff;
  font-weight: 600;
  font-size: 13px;
}
